.body{
    background-color:blue;
    width: 400px;
    height:320px;
    padding: 20px;
}
.body h1{
    color:white;
}
.subsection{
    width: 200px;
    margin:10px;
}
.subsection button{
    margin-left: 10px;
    background-color: yellow;
    padding: 10px;
}
.body p{
    color:white;
    font-size: 18px;
}
.body input{
    padding: 5px;
}
.result{
    margin-left:10px;
    padding: 5px;
    background-color: black;
    color: white;
}
